<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <!-- Login form -->
    <form th:action="@{/login}" method="post">
 
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Log In</button>
        </div>
    </form>

    <!-- Links to sign-up pages -->
    <div>
        <p>Don't have an account? Sign up as:</p>
        <ul>
            <li><a th:href="@{/signup/student}">Student</a></li>
            <li><a th:href="@{/signup/teacher}">Teacher</a></li>
            <li><a th:href="@{/signup/administrator}">Administrator</a></li>
        </ul>
    </div>
</body>
</html>
